article.experience
  .experience-header
    .experience-header__svg-elements
      svg(width="76px" height="76px")
        circle(r="38" cx="38" cy="38" fill="white" stroke="#3d6cb0" stroke-width="1")
        circle(r="34" cx="38" cy="38" fill="#3d6cb0" stroke="#3d6cb0")
    h2.experience-header__text experience
    .experience-header__line
  .experience-content
    .experience-content__black-dot-wrapper
      .black-dot
    .experience-content__text-elements
      .text-header
        .text-header_company company name
        .text-header_date // Feb 2011 - Jun 2014
      .vacation you job here
      p.text-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
  .experience-content
    .experience-content__black-dot-wrapper
      .black-dot
    .experience-content__text-elements
      .text-header
        .text-header_company company name
        .text-header_date // Feb 2011 - Jun 2014
      .vacation you job here
      p.text-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
  .experience-content
    .experience-content__black-dot-wrapper
      .black-dot
    .experience-content__text-elements
      .text-header
        .text-header_company company name
        .text-header_date // Feb 2011 - Jun 2014
      .vacation you job here
      p.text-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.