article.experience
  .experience-header
    .experience-header__image
      img(src="/src/img/experience_icon.png", alt="Profile", height="76px")
    h2.experience-header__text experience
    .experience-header__line
  .experience-content
    .experience-content__black-dot-wrapper
      .black-dot
    .experience-content__text-elements
      .text-header
        .text-header_company company name
        .text-header_date // Feb 2011 - Jun 2014
      .vacation your job here
      p.text-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
  .experience-content
    .experience-content__black-dot-wrapper
      .black-dot
    .experience-content__text-elements
      .text-header
        .text-header_company company name
        .text-header_date // Feb 2011 - Jun 2014
      .vacation your job here
      p.text-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
  .experience-content
    .experience-content__black-dot-wrapper
      .black-dot
    .experience-content__text-elements
      .text-header
        .text-header_company company name
        .text-header_date // Feb 2011 - Jun 2014
      .vacation your job here
      p.text-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.