article.contacts
  .contacts-header
    .contacts-header__svg-elements
      svg(width="76px" height="76px")
        circle(r="38" cx="38" cy="38" fill="white" stroke="#3d6cb0" stroke-width="1")
        circle(r="34" cx="38" cy="38" fill="#3d6cb0" stroke="#3d6cb0")
    h3.contacts-header__text contact
    .contacts-header__line
  .contacts-content
    .contacts-content__text-block
      .contacts-content__left-text address
      .contacts-content__right-text Main Street, City.
    .contacts-content__text-block
      .contacts-content__left-text e-mail
      .contacts-content__right-text contact@domain.com
    .contacts-content__text-block
      .contacts-content__left-text phone
      .contacts-content__right-text 555-555-555
    .contacts-content__text-block
      .contacts-content__left-text website
      .contacts-content__right-text www.yourweb.com
      