.contacts {
  @include flex(column);
  @include size(100%);
  padding-bottom: 50px;
  padding-right: 4%;

  &-header {
    @include flex(row);
    @include size(100%);
    justify-content: flex-start;
    @media screen and (max-width: 450px) {
      justify-content: center;
    }

    &__image {
      @include size(76px);
    }

    &__text {
      text-transform: uppercase;
      color: $baseColor;
      font-family: $boldFont;
      font-size: 2.6556rem;
      margin-left: 11px;
      margin-top: -10px;
    }

    &__line {
      @include size(100%, 5px);
      background-color: $baseColor;
      margin-left: 8px;
      margin-top: -10px;
      @media screen and (max-width: 450px) {
        display: none;
      }
    }
  }

  &-content {
    @include flex(column);
    @include size(100%);

    &__text-block{
      @include flex(row, flex-end);
      @include size(100%);
      font-size: 1.3275rem;
      margin-top: 30px;
    }

    &__left-text {
      width: 31%;
      min-width: 132px;
      max-width: 160px;
      color: $baseColor;
      text-transform: uppercase;
      font-family: $boldFont;
    }
  }
}