article.contacts
  .contacts-header
    .contacts-header__svg-elements
      img(src="/src/img/contact_icon.png", alt="Profile", height="76px")
    h3.contacts-header__text contact
    .contacts-header__line
  .contacts-content
    .contacts-content__text-block
      .contacts-content__left-text address
      .contacts-content__right-text Main Street, City.
    .contacts-content__text-block
      .contacts-content__left-text e-mail
      .contacts-content__right-text contact@domain.com
    .contacts-content__text-block
      .contacts-content__left-text phone
      .contacts-content__right-text 555-555-555
    .contacts-content__text-block
      .contacts-content__left-text website
      .contacts-content__right-text www.yourweb.com
      