article.surname
  .surname__svg-elements
      svg(width="239px" height="239px")
        circle(r="119" cx="119.5" cy="119.5" fill="white" stroke="#3d6cb0" stroke-width="1")
        circle(r="104.5" cx="119.5" cy="119.5" fill="#3d6cb0" stroke="#3d6cb0")
  .surname__name-elements
      .surname__text-thin name here
      h1.surname__text-surname surname
      .surname__text-bold graphic designer