article.surname
  .surname__svg-elements
      svg(width="240px" height="240px")
        circle(r="119" cx="119.5" cy="119.5" fill="white" stroke="#0270ba" stroke-width="1")
        circle(r="104.5" cx="119.5" cy="119.5" fill="#0270ba" stroke="#0270ba")
  .surname__name-elements
      h2.surname__text-thin name here
      h1.surname__text-surname surname
      h2.surname__text-bold graphic designer