.surname {
    padding-top: 13px;
    padding-bottom: 70px;
    @include flexColumn();
    &__name-block {
      @include flexColumn();
      margin-top: 30px;
      line-height: 50px;
      text-transform: uppercase;
      h1 {
        font-size: 63.73px;
        font-family: $boldFont;
      }
      .thin {
        font-size: 54.2px;
      }
      .bold {
        font-size: 25px;
        margin-top: 5px;
      }
    }
  }
