.surname {
  @include size(100%);
  padding-top: 13px;
  padding-bottom: 85px;
  @include flex(column);

  &__svg-elements {
    @include size(240px);
  }

  &__name-elements {
    @include flex(column);
    margin-top: 38px;
    text-transform: uppercase;
  }

  &__text-surname {
    font-size: 4rem;
    line-height: 3rem;
    font-weight: 700;
    font-family: $boldFont;
    padding-bottom: 18px;
  }

  &__text-thin {
    font-size: 3.4375rem;
    line-height: 2.5rem;
    font-weight: 400;
    font-family: $thinFont;
    padding-bottom: 8px;
  }
    
  &__text-bold {
    font-size: 1.5625rem;
    line-height: 1.25rem;
    font-family: $boldFont;
  }
}
