article.software
  .software-header
    .software-header__image
      img(src="/src/img/software_icon.png", alt="Profile", height="76px")
    .software-header__text software
    .software-header__line
  .software-content
    .programm
      .programm__name photoshop
      .programm__skill-level
        svg(width="100%" height="23px")
          rect(cx="0" cy="0" width="100%" fill="#e6e6e6")
          rect(cx="0" cy="0" width="91%" fill="#0270ba")
    .programm
      .programm__name dreamweaver
      .programm__skill-level
        svg(width="100%" height="23px")
          rect(cx="0" cy="0" width="100%" fill="#e6e6e6")
          rect(cx="0" cy="0" width="83%" fill="#0270ba")
    .programm
      .programm__name illustrator
      .programm__skill-level
        svg(width="100%" height="23px")
          rect(cx="0" cy="0" width="100%" fill="#e6e6e6")
          rect(cx="0" cy="0" width="70.5%" fill="#0270ba")
    .programm
      .programm__name after effects
      .programm__skill-level
        svg(width="100%" height="23px")
          rect(cx="0" cy="0" width="100%" fill="#e6e6e6")
          rect(cx="0" cy="0" width="61.4%" fill="#0270ba")
    .programm
      .programm__name indesign
      .programm__skill-level
        svg(width="100%" height="23px")
          rect(cx="0" cy="0" width="100%" fill="#e6e6e6")
          rect(cx="0" cy="0" width="56.1%" fill="#0270ba")
    .programm
      .programm__name html&css3
      .programm__skill-level
        svg(width="100%" height="23px")
          rect(cx="0" cy="0" width="100%" fill="#e6e6e6")
          rect(cx="0" cy="0" width="91%" fill="#0270ba")
