article.skills
  .skills-header
    .skills-header__image
      img(src="/src/img/skills_icon.png", alt="Profile", height="76px")
    .skills-header__text skills
    .skills-header__line
  .skills-content
    .skills-content__skill-block
      .skills-content__skill-name creative
      .skills-content__skill-level
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_gray
        .skills-content__skill-level_gray
        .skills-content__skill-level_gray
    .skills-content__skill-block
      .skills-content__skill-name teamwork
      .skills-content__skill-level
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_gray
    .skills-content__skill-block
      .skills-content__skill-name innovate
      .skills-content__skill-level
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_gray
        .skills-content__skill-level_gray
        .skills-content__skill-level_gray
        .skills-content__skill-level_gray
        .skills-content__skill-level_gray
        .skills-content__skill-level_gray
    .skills-content__skill-block
      .skills-content__skill-name communication
      .skills-content__skill-level
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_blue
        .skills-content__skill-level_gray