//Fonts
$mainFont:          "MyriadPro-Regular", Helvetica, Arial, sans-serif;
$boldFont:          "MyriadPro-Bold", Helvetica, Arial, sans-serif;
$thinFont:          "MyriadPro-LightSemiExt", Helvetica, Arial, sans-serif;

//Sizes
$desktopWidth:     1280px;
$tableWidth:       860px;
$phoneWidth:       320px;
$mainFontSize:     1rem;

//Colors
$baseColor:         #0270ba;
$emptyColor:        #e6e6e6;
$mainFontColor:     #000;