article.education
  .education-header
    .education-header__image
      img(src="/src/img/education_icon.png", alt="Profile", height="76px")
    h2.education-header__text education
    .education-header__line
  .education-content
    .education-content__black-dot-wrapper
      .black-dot
    .education-content__text-elements
      .text-header
        .text-header_degree master degree
        .text-header_date // Feb 2011 - Jun 2014
      .university university name
      p.text-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
  .education-content
    .education-content__black-dot-wrapper
      .black-dot
    .education-content__text-elements
      .text-header
        .text-header_degree master degree
        .text-header_date // Feb 2011 - Jun 2014
      .university university name
      p.text-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
  .education-content
    .education-content__black-dot-wrapper
      .black-dot
    .education-content__text-elements
      .text-header
        .text-header_degree master degree
        .text-header_date // Feb 2011 - Jun 2014
      .university university name
      p.text-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
  .education-content
    .education-content__black-dot-wrapper
      .black-dot
    .education-content__text-elements
      .text-header
        .text-header_degree master degree
        .text-header_date // Feb 2011 - Jun 2014
      .university university name
      p.text-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
