<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title CV
  body
   div.content-wrapper
    section.left-column
      include surname/surname.pug
      include profile/profile.pug
      include contacts/contacts.pug
      include skills/skills.pug
    section.right-column
      include education/education.pug
      include experience/experience.pug
      article.software
      
    