<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title CV
  body
   div.content-wrapper
    section.left-column
      article.surname
        div.surname-svg-block
          svg(width="239px" height="239px")
            circle(r="119" cx="119.5" cy="119.5" fill="white" stroke="#3d6cb0" stroke-width="1")
            circle(r="104.5" cx="119.5" cy="119.5" fill="#3d6cb0" stroke="#3d6cb0")
        .surname-name-block
          div.thin name here
          h1 surname
          div.bold graphic designer
      article.profile
      article.contact
      article.skills
    section.right-column
      article.education
      article.expirience
      article.software
      
    