@import "../utils/fonts";
@import "../utils/vars";
@import "../utils/mixins";
@import "./src/surname/surname";
@import "./src/profile/profile";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  width: 100%;
  max-width: $desktopWidth;
  margin: 0 auto;
  font-family: $mainFont;
  font-size: $mainFontSize;
  color: $mainFontColor;
  outline: 1px solid grey;
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
		.left-column, .right-column {
      @include size(100%);
    }
  }
}

.content-wrapper {
  @include size(100%);
  padding: 5.859375% 4.6875% 7.8125% 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.left-column, .right-column {
  @include flex(column);
}

.left-column {
  @include size(38.495%, 100%);
}

.right-column {
  @include size(56.488%, 100%);
}